@import "./variables";
*,*::after,*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
color: $textblack;
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: Rubik,-apple-system,system-ui,BlinkMacSystemFont,segoe ui,Roboto,Oxygen-Sans,Ubuntu,Cantarell,helvetica neue,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
#preloader{
    background-color: #101731;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 150px;
        height: 150px;
    }
}
#preloader-none{
    display: none;
}
#pp{
    // border: 1px solid red;
    #ProjectReview{
        .container{
            height: 100vh;
            padding-top: 8rem;
            width: 70vw;
            margin: auto;
            h1{
                font-size: 2rem;
                color: $primaryColor;
            }
            .box{
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                .imgBox{
                    img{
                        width: 600px;
                        border-radius: 1rem;
                    }
                }
                .smBox{
                    width: 250px;
                    .about{
                        border-radius: .5rem;
                        padding: 1rem;
                        box-shadow: 0px 0px 10px 0px rgba(170, 170, 170, 0.549);
                        &:hover{
                            box-shadow: -10px 10px 10px 0px rgba(170, 170, 170, 0.649);
                        }
                        h2{
                            color: $textGrey;
                            padding-bottom: .5rem;
                        }
                        p{
                            color: $textGrey;
                            font-weight: 600;
                            font-size: .8rem;
                            padding-top: .5rem;
                        }
                    }
                    .technology{
                        margin-top: 2rem;
                        padding: 1rem;
                        border-radius: .5rem;
                        box-shadow: 0px 0px 10px 0px rgba(170, 170, 170, 0.549);
                        h2{
                            color: $textGrey;
                            padding-bottom: .5rem;
                        }
                        ul{
                            list-style: none;
                        }
                        margin-bottom: 2rem;
                        &:hover{
                            box-shadow: -10px 10px 10px 0px rgba(170, 170, 170, 0.649);
                        }
                    }
                    
                    a{
                        border-radius: .5rem;
                        padding: 1rem 4.9rem;
                        background-color: $primaryColor;
                        text-decoration: none;
                        color: $colorWhite;
                        cursor: pointer;
                        &:hover{
                            background-color: #066cb9;
                            box-shadow: -10px 10px 10px 0px rgba(170, 170, 170, 0.449);
                        }
                    }
                }
            }
        }
    }
}