@import "../../Styles/variables";
.sticky{
    transition: .3s all ease-in-out;
    display: flex;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 5;
    .logo{
        display: flex;
        align-items: center;
        img{
            width: 50px;
            height: 45px;
            border-radius: 50%;
            margin-right: .2rem;
        }
        padding: .4rem;
    }
    .links{
        display: flex;
        .link{
            text-decoration: none;
            margin: .5rem .5rem;
            transition: all ease-in-out .3s;
            padding: 5px;
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom: 1px solid $darkGrey;
            }
        }
        .contact{
            border: 1px solid $darkGrey;
            padding: 5px 10px;
            background-color: $darkGrey;
            color: $colorWhite;
            border-radius: .2rem;
            &:hover{
                background-color: $colorWhite;
                color: $darkGrey;
            }
        }
        .iconBox{
            display: none;
            .icon{
                font-size: 2rem;
            }
        }
    }
}
.fixed{
    transition: .3s all ease-in-out;
    display: flex;
    background-color: $backgroundColor;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 5;
    box-shadow: 0px 10px 10px 0px rgba(17, 17, 17, 0.186);
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50px;
            height: 45px;
            border-radius: 50%;
            margin-right: .2rem;
        }
        padding: .4rem;
    }
    .links{
        display: flex;
        .link{
            text-decoration: none;
            margin: .5rem .5rem;
            transition: all ease-in-out .3s;
            padding: 5px;
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom: 1px solid $darkGrey;
            }
        }
        .contact{
            border: 1px solid $darkGrey;
            padding: 5px 10px;
            background-color: $darkGrey;
            color: $colorWhite;
            border-radius: .2rem;
            &:hover{
                background-color: $colorWhite;
                color: $darkGrey;
            }
        }
        .iconBox{
            display: none;
            .icon{
                font-size: 2rem;
            }
        }
    }
}
.close{
    // display: none;
    transform: translateX(0);
}
.open{
    // display: block;
    transform: translateX(-150%);
}
.a{
    transition: all ease-in-out 1s;
}
.mNav{
    transition: all ease-in-out 1s;
    position: fixed;
    width: 70%;
    height: 100%;
    background-color: $colorWhite;
    opacity: 100%;
    .logo{
        padding-bottom: 10rem;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        img{
            width: 50px;
            height: 45px;
            border-radius: 50%;
            margin-right: .2rem;
        }
        padding: .4rem;
    }
    z-index: 9;
    .linkas{
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        .link{
            padding-top: 1.5rem;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}
@media(max-width:600px){
    .links{
        .link{
            display: none;
        }
        .iconBox{
            display: block !important;
            padding: .5rem;
            padding-top: 1.2rem;
            .icon{
                fill: $textblack;
            }
        }
    }
}