@import "../../Styles/variables";

#Projects{
    background-color: $backgroundColorDark;
    margin-bottom: 7rem;
    .container{
        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .cardp{
                width: 400px;
                margin: 2rem;
                img{
                    height: 250px;
                    border-radius: .6rem;
                    width: 400px;
                    object-fit: cover;
                    object-position: top;
                    transition: all 3s ease-in-out;
                    box-shadow: 0px 0px 10px 0px rgba(170, 170, 170, 0.613);
                    &:hover{
                        object-position: bottom;
                    }
                }
                h1{
                    font-size: 1.3rem;
                    color: $colorWhite;
                    padding-left: .3rem;
                    padding-top: .5rem;
                }
                p{
                    padding-top: .5rem;
                    padding-left: .3rem;
                    font-size: .8rem;
                    color: $colorWhite;
                    font-weight: 300;
                }
                button{
                    background-color: $primaryColor;
                    padding: .5rem 1rem;
                    border-radius: .3rem;
                    margin-top: .5rem;
                    border: none;
                    outline: none;
                    transition: all .3s ease-in-out;
                    margin-left: .3rem;
                    margin-top: 1rem;
                    &:hover{
                        background-color: #0462a9;
                        
                    }
                    .link{
                        color: $colorWhite;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
#shadow{
    box-shadow: 0px 5px 10px 5px rgba(67, 67, 67, 0.486);
    height: 10px;
}
@media(max-width:465px){
    #Projects{
        .container{
            .cards{
                .cardp{
                    width: 300px;
                    img{
                        width: 300px;
                    }
                }
            }
        }
    }
}
@media(max-width:370px){
    #Projects{
        .container{
            .pcard{
                padding: 0;
            }
            .cards{
                .cardp{
                    width: 270px;
                    img{
                        width: 270px;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
